    page-login {
        ion-content {
            background-image: url('../assets/imgs/bg.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .bg {
            margin-top: -10%;
            position: relative;
            display: block;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 40px;
            background-image: url('../assets/imgs/card.png');
        }
        ion-card {
            opacity: 0.5;
            z-index: -1;
        }
        ion-card-content {
            background-color: black;
            opacity: 0.5;
            z-index: -1;
        }
    }