page-about {
    .textko {
        font-family: tekton pro;
        font-size: 200%;
        margin-top: -10%;
    }
    .info {
        padding: 5%;
        text-align: justify;
        text-justify: inter-word;
        margin-top: -10%;
    }
    agm-map {
        height: 300px;
      }
}